name: Build and Release (Windows)

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: '版本號 (例如 v1.0.0)'
        required: true
        default: 'v1.0.0'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka
          if exist requirements.txt pip install -r requirements.txt
        shell: cmd

      - name: Build with Nuitka (Windows)
        run: |
          nuitka --standalone --onefile --windows-console-mode=disable --enable-plugin=pyside6 --nofollow-import-to=PySide6.QtMultimedia,PySide6.QtMultimediaWidgets,PySide6.QtWebEngineCore,PySide6.QtWebEngineWidgets --windows-icon-from-ico=icon.ico --include-data-files=icon.ico=icon.ico --include-data-dir=config=config --include-data-dir=photos=photos --assume-yes-for-downloads main.py
        shell: cmd

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          name: Release ${{ github.event.inputs.tag_name }}
          files: |
            main.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
